{% extends "base.html" %} {% block title %}Trvedi Tracker{% endblock %} {% block content %}
    <h1 align="center">Log your activity!</h1>
    

    <form method="POST">
        <div class="form-check">
            <input class="form-check-input" type="radio" id="one" name="one" value="one">
            <label class="form-check-label" for="one">Attended Q&A (1 point)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="three" name="three" value="three">
            <label class="form-check-label" for="three">Attended Coaching Call (3 points)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="five" name="five" value="five">
            <label class="form-check-label" for="five">Submitted Homework (5 points)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="ten" name="ten" value="ten">
            <label class="form-check-label" for="ten">Attended Delta (10 points)</label>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit!</button>
        </div>
    </form>
    {% endblock %}